.form-horizontal{
	position:absolute;
	width: 300px;
	height:200px;
	z-index:15;
	top:50%;
	left:50%;
	margin: -100px 0 0  -150px;
}


h2{
	text-align:center;
}


#intro{
	text-align:center;
}

#button{
	margin: 100 0 0 100;
}


`
.btn btn-default navbar-btn{
	margin: 10px 0px 0 0px 20px;

}

#register{
	text-align:center;
}


.img-thumbnail{
	height: auto;
	width: auto:
	max-width: 200px;
	max-height: 200px;
	margin: 20px 0px 0px 20px;
}


.img-rounded{
	height: auto;
	width: auto:
	max-width: 400px;
	max-height: 400px;
	margin: 20px 0px 0px 20px;
}


form{
	margin: 20px 20px 0px 20px;

}
